body{color: black;}

#nueva-moneda {
  border-radius: 5px;
  text-transform: uppercase;
}
#calendario {
  border-radius: 5px;
}

#cabecera {
  width: 700px;
}
#bandera-moneda{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
 
#imagen-agregada{
  width: 40px;
  height: 40px;
}

#resultados{
  box-shadow: 2px 2px 5px black;
  border-style: groove;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  max-width: 400px;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #242f3f);
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}


#general{
  box-shadow: 2px 2px 5px black;
  border: 7px;
  border-color: gray;
  border-style: groove;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: transparent;
  max-width: 700px;
}
#tabla-de-cambios {
  box-shadow: 2px 2px 5px black;
  border-style: groove;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: transparent;
}
#imagen-titulo {
  border-radius: 5px;
}
h1 {
  font-size: 50px;
}
#seleccion-de-moneda {
  font-size: 20px;
}
#cambiar-fechas {
  font-size: 20px;
}

.moneda-activa{background-color: red;}

.moneda {
  border-radius: 5px;
  background-color: transparent;
  min-width: 81px;
  height: 50px;
}
.precio {
  border-radius: 5px;
  background-color: transparent;
  min-width: 81px;
  height: 50px;
}

.oculto {
  display: none;
}
#bandera-de-moneda {
  size: 5px;
}

#fecha {
  font-size: 20px;
}
#descripcion {
  font-size: 20px;
}

#boton-actualizar-tabla {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #242f3f);
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
